:root {
    --primary-color: #6366f1;
    --secondary-color: #773a98;
    --accent-color: #06b6d4;
    --dark-bg: #0f172a;
    --card-bg: #1e293b;
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --gradient-1: linear-gradient(135deg, #54216f 0%, #8b8ce1 100%);
    --gradient-2: linear-gradient(135deg, #06b6d4 0%, #3b82f6 100%);


}

body {
    height: 100vh;
    background-color: var(--dark-bg);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.dark-bg {
    background-color: var(--dark-bg);
}

.nav-item > a {
    color: var(--text-secondary);
    transition: transform 0.5s ease;
}

.gradient {
    color: var(--secondary-color);
}

.nav-item>a:hover {
    color: var(--text-primary);
    transform: translateY(-6px);
}

.main-head {
    /*In  using gradient color use background*/
    background: var(--gradient-1);

    /* clip the background color into text color */
    -webkit-background-clip: text;   

    /* fill the color into text */
    -webkit-text-fill-color: transparent;
}

.hero {
    color: var(--text-secondary);
}

.btn-work {
    background-color: var(--secondary-color);
    font-weight: 600;
}

.btn-work:hover {
    color: var(--text-primary);
    background-color: var(--secondary-color);
    box-shadow: 4px 4px 10px rgba(119, 58, 152, 0.6);
}


.btn1-work {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 600;
}

.btn1-work:hover {
    color: var(--text-primary);
    background-color: var(--secondary-color);
    box-shadow: 4px 4px 10px rgba(119, 58, 152, 0.6);
    
}

.about {
    background-color: var(--card-bg);
    color: var(--text-primary);
    transition: transform 0.3s ease;
}

.about-head {
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
}
.about:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.skill-head {
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:40px;
}

.skill {
    background-color: var(--card-bg);
    color: var(--text-primary);
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    
}

.skill-icon {
    font-size: 50px;
    padding: 15px;
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.skill-title {
    font-size: 20px;
    font-weight: bold;
}
.skill-desc {
    font-size: 17px;
}

.skill-bar {
    height: 6px;
    background-color: var(--text-secondary);
    border-radius: 10px;
    margin-top: 15px;
}

.skill-bar span {
    display: block;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.project-head {
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.project {
    background-color: var(--card-bg);
    color: var(--text-primary);
    border: none;
    border-radius: 10px;
    width: 100%;
}

.project-icon {
    background: var(--gradient-1);
    color: var(--text-primary);
    font-size: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.project-content {
    padding: 15px;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.project-desc {
    font-size: 17px;
    margin-bottom: 1rem;
    color: var(--text-secondary);
    margin-bottom: 1.5rem;
}
.project-tech {
    display: flex;
    margin-bottom: 1.5rem;
    gap: 8px;
} 
.techs{
    background: rgba(210, 99, 241, 0.2);
    color: var(--secondary-color);
    border-radius:20px;
    padding: 6px 17px;
    font-size: 13px;
    font-weight: 600;
    
}

.project-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}

.project-links .link {
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.5s ease;
}
.project-links .link:hover {
    transform: translateX(8px);

}

/* contact section */

.contact-title {
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.contact {
    background-color: var(--card-bg);
    color: var(--text-primary);
    padding: 70px;
    border-radius: 10px;
    font-size: 1.25rem;
    text-align: center;
}
.contact-info {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 14px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: larger;
    color: var(--text-secondary);
    transition: transform 0.3s ease;
}

.contact-item:hover {
    color: var(--secondary-color);
    transform: translateY(-2px);
}

.contact-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
.contact-links >a {
    background:var(--secondary-color);
    color: var(--text-primary);
    padding: 6px 12px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.contact-links >a:hover {
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0 10px 20px rgba(183, 95, 164, 0.3);
}

footer {
    background-color: var(--card-bg);
    color: var(--text-secondary);
    padding: 30px;

}